@charset "utf-8";

:root {
    --white: #ffffff;
    --purple: #662873;
    --green: #84BEA7;
    --grey: #ccc;
    --blue: #469ee8;
    --pink: #d17b98;
}

/* Generic */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

header {
    background: var(--purple);
}

body {
    color: #333;
    font: 16px/1 "Roboto", sans-serif;
    min-height: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
input,
button {
    font-family: 'Roboto';
    color: #000;
    margin: 0;
}

h1 {
    color: var(--white);
    font-size: 3em;
    margin: 1.5em 0 .5em;
}


header h1 {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin: 1em 0 .5em;
}

p {
    line-height: 1.24;
    margin: .7em 0 .6em;
}

img {
    display: block;
}

section {
    padding: 8em 0;
}


input,
button {
    width: 100%;
    margin: 0 5%;
}

/* Structural */
.wrap {
    margin: 0 auto;
    max-width: 1072px;
    padding: 0 24px;
    width: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-flow: column;
}


.split {
    justify-content: space-between;
}

.flex .item {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: right;
}

/* Other Classes */

#intro {
    text-align: center;
}

.card {
    border: 1px solid var(--purple);
    margin: 5% 0;
}

.lecture {
    background: var(--green);
}

.lab {
    background: var(--pink);
}

.card button {
    width: auto;
    border: none;
    border-radius: 10px;
    padding: 2.5%;
    margin: 2.5%;
    color: var(--white);
}

.card-bottom {
    background: var(--grey);
    clear: both;
    align-items: center;
}

.card-bottom i {
    align-self: center;
}

.card h4,
.card p {
    margin: 2.5%;
}

.course {
    color: var(--grey);
}

.fa-check-double {
    color: var(--blue);
    font-size: 4em;
    position: absolute;
    top: 35%;
    left: 65%
}

.fa-map-marker,
.fa-clock {
    color: var(--purple);
    font-size: 2em;
}

.card-bottom i {
    margin-right: 10%;
}
