@charset "utf-8";

:root {
    --white: #ffffff;
    --purple: #662873;
    --green: #84BEA7;
    --light-grey: #e8e8e8;
    --dark-grey: #bbb;
    --pink: #d17b98;
}

/* Generic */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

header,
footer {
    background: var(--purple);
    padding: 2% 0;
    margin-bottom: 7.5%;
}

body {
    color: #333;
    font: 16px/1 "Roboto", sans-serif;
    min-height: 100%;
    margin: 0 auto;
}

a,
.fa-arrow-circle-left {
    text-decoration: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
p,
input,
button {
    font-family: 'Roboto';
    color: #000;
    margin: 0;
}

h1 {
    color: var(--white);
    font-size: 3em;
    padding-bottom: 3%;
}


header h1 {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin: 0.5em 0 .5em;
}

p {
    line-height: 1.24;
    margin: .7em 0 .6em;
}

img {
    display: block;
}

section {
    padding: 8em 0;
}


input,
button {
    background: var(--purple);
    color: var(--white);
    width: 100%;
    margin: 5%;
    padding: 5%;
    border-radius: 50px;
    border: 1px solid var(--light-grey);
}

/* Structural */
.wrap {
    margin: 0 auto;
    max-width: 1072px;
    padding: 0 24px;
    width: 100%;
}

.flex {
    display: flex;
}


.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.flex-column {
    flex-flow: column;
}


.split {
    justify-content: space-between;
}

.flex .item {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: right;
}

/* Other Classes */

#intro {
    text-align: center;
}

.card {
    border: 1px solid var(--purple);
    margin: 10% 0;
}

.lecture {
    background: var(--green);
}

.lab {
    background: var(--pink);
}

.card button {
    width: auto;
    border: none;
    border-radius: 10px;
    padding: 2.5%;
    margin: 2.5%;
    color: var(--white);
}

.card-bottom {
    background: var(--purple);
    clear: both;
    align-items: center;
    padding: 5% auto;
}

.card-bottom i {
    align-self: center;
}

.card h4,
.card p {
    margin: 2.5%;
}

.course {
    font-style: italic;
}

.fa-check-double {
    color: var(--purple);
    font-size: 4em;
    position: absolute;
    top: 45%;
    left: 65%
}

.fa-map-marker,
.fa-clock,
.fa-sign-out-alt,
.fa-question,
.fa-times,
.fa-arrow-circle-left {
    color: var(--purple);
    font-size: 2em;
}

::placeholder {
    color: var(--white);
}


.fa-sign-out-alt.place-img {
    position: absolute;
    font-size: 4em;
    color: var(--purple);
    top: 100%;
    left: 65%;
}

.fa-question,
.white {
    color: var(--white);
}

.fa-question,
.fa-sign-out-alt.white {
    font-size: 1.25em;
}

.card-bottom i {
    margin-right: 10%;
}

.card {
    width: auto;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(102, 40, 115, 0.86);
    box-shadow: 0px 0px 6px 3px rgba(102, 40, 115, 0.86);
}

.card h4,
.card button,
p.course,
p.student {
    margin: 10%;
}

body#tinymce {
    background: #FFFFFF
}

.inner-card {
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.card-text {
    text-align: center;
}

.fa-check-circle {
    font-size: 4em;
    color: #84b357;
    padding-left: 46%;
}

#logo-padding {
    margin-bottom: 10%;
}

input[type=submit] {
    background: var(--purple);
    color: var(--white);
    cursor: pointer;
    font-weight: bold;
    margin-top: 10%;
}

.content {
    margin-top: 5%;
}

.purple {
    color: var(--purple);
}

footer {
    width: 100%;
    height: auto;
    overflow: auto;
    position: relative;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
}

.fixed {
    position: fixed;
}

footer .flex-container {
    justify-content: center;
    margin: 2% 0;
}

main {
    width: 100%;
    height: auto;
    overflow: auto;
}

.card-bottom p {
    color: var(--white);
}
